*{  
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #ffffff;
}
#header{
    width: 100%;
    height: 100vh; 
    background-image: url(images/bg_image.png);  
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
.header-text{
    color: #fdfae2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
}
nav ul li a{
    color:#fdfae2;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 18px;
    position: relative;
    
}
nav ul li a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -6px;
    left: 0;
    background: #f57f20;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;

}
.header-text h1 span{
    color: #f57f20;
}

/* ----------about--------*/

#about{
    padding: 80px 0;
    color: #fdfae2;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-title{
    font-size: 50px;
    font-weight: 600;
    color: #fdfae2;
    margin: 20px 0;
}
.about-col-2 span{
    font-weight: bold;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position:relative;

}

.tab-links::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -8px;
    left: 0;
    background: #f57f20;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #f57f20;
    font-size:15px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ---------Service---------*/
.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #fdfae2;
    margin: 20px 0;

}

#services{
    padding: 30px 0;
    margin-bottom: 20px;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-bottom: 50px;
    
}
.services-list div{
    border-radius: 15px;
    background: #242420;
    padding: 40px;
    text-align: center;
    font-family: 13px;
    font-weight: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 30px;
    color: #f57f20;
    margin-bottom: 20px;
    transition: color 0.5s;
}
.services-list div:hover i{
    color: #fcf6f6;
}
.services-list div h2{
    font-size: 30px;
    color: #fdfae2;
    margin-bottom: 15px;
    font-weight: 500;
}
.services-list div a{
    text-decoration: none;
    color: #fcf6f6;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #f57f20;
    transform: translateY(-10px);
}
/* ------------portfolio---------------- */
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-bottom: 50px;
}
.work-list div{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  .layer{
    
  }