*{  
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #ffffff;
}
#header{
    width: 100%;
    height: 100vh; 
    background-image: url(images/bg_image.png);  
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
}
nav ul li a{
    color:#fdfae2;
    text-decoration: none;
    transition: color 0.5s;
    font-size: 18px;
    position: relative;
    
}
nav ul li a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -6px;
    left: 0;
    background: #f57f20;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
    bottom: -3px;
}